"0x02-shell_redirections/\\*\\\\'\"Holberton School\"\\'\\\\*$\\?\\*\\*\\*\\*\\*:)"
0x02-shell_redirections/act
0x02-shell_redirections/echo
0x02-shell_redirections/iacta
0x02-shell_redirections/lan
0x02-shell_redirections/nasa_19950801.tsv
